body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.loader {
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  animation: blanc 200ms 1s forwards;
  transform-origin: top;
  i {
    animation: rotation 2s infinite linear;
    font-size: 60px;
    color: #9356dc;
  }
}

@keyframes blanc {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
