footer {
  background-color: #353535;
  color: white;
  padding: 10px;
  margin-top: 0px;
  padding-left: 20px;
  h2 {
    font-family: "Shrikhand";
    font-weight: 500;
    text-align: left;
    margin-left: 4px;
  }
  h3 {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 400;
  }
  a,
  i {
    color: white;
      &:hover {
        color: green;
      }
  }
}
