@use "../utils/mixins.scss";

.instructions {
  counter-reset: numero;
  ol {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
}
li {
  position: relative;
  &::before {
    content: counter(numero);
    counter-increment: numero;
    background-color: #9356dc;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    left: -7px;
  }
  list-style-type: none;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 2px 20px;
  @include mixins.shadow-1;
  &:hover {
    @include mixins.zoom;
  }
}

i {
  margin-right: 6px;
  color: gray;
}
