@use "../utils/mixins.scss";

.restaurants {
  background-color: whitesmoke;
  margin: 30px 25px 0 25px;
  padding-bottom: 50px;

  h2 {
    font-size: 20px;
    text-align: center;
    @media (max-width: 1000px) {
      text-align: left;
      padding-top: 30px;
      padding-left: 10px;
    }
  }
  .restaurants_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    @media (min-width: 1000px) {
      flex-direction: row;
      justify-content: center;
    }
  }
  .nouveau {
    position: relative;
  }
  .nouveau::before {
    content: "Nouveau";
    position: absolute;
    background-color: #99e2d0;
    width: 83px;
    height: 23px;
    padding-top: 3px;
    text-align: center;
    right: 10px;
    top: 10px;
    color: darkslategrey;
  }

  .card {
    height: 60%;
    margin: 0 10px;
    background-color: white;
    border-radius: 20px;
    @include mixins.shadow-1;
    &:hover {
      @include mixins.zoom;
    }
  }
  .images {
    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      margin-bottom: 0px;
    }

    width: 100%;
    @media (min-width: 1000px) {
      width: 450px;
    }
  }

  .description {
    position: relative;
    background-color: white;
    border-radius: 20px;
    h3 {
      color: black;
      margin-bottom: 5px;
      margin-top: 7px;
      margin-left: 13px;
    }
    p {
      color: gray;
      margin-top: 0px;
      margin-bottom: 5px;
      padding: 3px;
      margin-left: 10px;
    }
    .form-check {
      @include mixins.heart;
    }
  }
}
