@use "../utils/mixins.scss";

.selection {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 10px;
  padding-top: 10px;
  h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  button {
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    @include mixins.shadow-1;
    @include mixins.gradient;
  }
}
