@use "../utils/mixins.scss";

.selection {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 10px;
  padding-top: 10px;
  h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  button {
    @include mixins.btn;
    &:hover {
      @include mixins.zoom;
    }
  }
}
