header {
  box-shadow: 0px 5px 6px lightgrey;
  padding: 3px;
}

h1 {
  font-family: "Shrikhand";
  text-align: center;
}

.ville {
  background-color: #ececec;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ville h2 {
  text-align: center;
  font-size: 18px;
}
.ville i {
  font-size: 15px;
}

.selection {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 10px;
  padding-top: 10px;
}
.selection h2 {
  font-size: 20px;
  margin-top: 0px;
}
.selection button {
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 5px 6px -3px #7e7e7e;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
.selection button:hover {
  transform: scale(1.02);
}

.instructions {
  counter-reset: numero;
}
.instructions ol {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 1000px) {
  .instructions ol {
    flex-direction: column;
  }
}

li {
  position: relative;
  list-style-type: none;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 2px 20px;
  box-shadow: 0px 5px 6px -3px #7e7e7e;
}
li::before {
  content: counter(numero);
  counter-increment: numero;
  background-color: #9356dc;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: -7px;
}
li:hover {
  transform: scale(1.02);
}

i {
  margin-right: 6px;
  color: gray;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.loader {
  background-color: whitesmoke;
  display: grid;
  place-items: center;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  animation: blanc 200ms 4s forwards;
  transform-origin: top;
}
.loader i {
  animation: rotation 4s infinite linear;
  font-size: 60px;
  color: #9356dc;
}

@keyframes blanc {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
.restaurants {
  background-color: whitesmoke;
  margin: 30px;
}
.restaurants .restaurants_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.restaurants .nouveau {
  position: relative;
}
.restaurants .nouveau::before {
  content: "Nouveau";
  position: absolute;
  background-color: lightgreen;
  width: 70px;
  height: 20px;
  text-align: center;
  right: 10px;
  top: 10px;
  color: black;
}
.restaurants .card {
  height: 60%;
}
.restaurants .card:hover {
  transform: scale(1.02);
}
.restaurants .images {
  width: 450px;
}
.restaurants .images img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0px;
}
.restaurants .description {
  position: relative;
  background-color: white;
}
.restaurants .description h3 {
  color: black;
  margin-bottom: 0px;
  margin-top: -5px;
}
.restaurants .description p {
  color: gray;
  margin-top: 0px;
  padding: 3px;
}
.restaurants .description .form-check i {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 25px;
}
.restaurants .description .form-check .fas {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.restaurants .description .form-check .fas:hover.fas {
  opacity: 1;
}
.restaurants .description .form-check .btn-check {
  display: none;
}
.restaurants .description .form-check .btn-check:checked ~ label .fas {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: white;
  padding: 10px;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 500;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

header {
  position: relative;
}

h1 {
  color: #000;
}

.header__arrow {
  position: absolute;
  left: 20px;
  height: 20px;
  width: 20px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #000;
}

.nom h2 {
  font-family: "Shrikhand";
  font-weight: 400;
  position: relative;
  height: 27px;
  background-color: white;
  border-radius: 10px 10px 0 0;
}

.coeur {
  position: relative;
}
.coeur i {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 25px;
}
.coeur .fas {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms;
}
.coeur .fas:hover.fas {
  opacity: 1;
}
.coeur .btn-check {
  display: none;
}
.coeur .btn-check:checked ~ label .fas {
  opacity: 1;
}

.menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: whitesmoke;
}
.menus h3 {
  font-family: "Shrikhand";
  font-weight: 300;
  position: relative;
  height: 24px;
  width: 30px;
  color: gray;
}
.menus h3::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
}
.menus .menus__plats {
  overflow: hidden;
}
.menus .menu-item {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 8px;
  animation: apparition 2s;
  animation-fill-mode: both;
  box-shadow: 0px 5px 6px -3px #7e7e7e;
}
.menus .menu-item:nth-child(1) {
  animation-delay: 200ms;
}
.menus .menu-item:nth-child(2) {
  animation-delay: 400ms;
}
.menus .menu-item:nth-child(3) {
  animation-delay: 600ms;
}
.menus .menu-item:hover i {
  animation: spin 0.5s ease-in;
}
.menus .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menus .menu-item__prix {
  margin-left: auto;
  font-weight: 900;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}
@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menus .menu-item__description {
  padding: 0px;
  margin-left: 10px;
  overflow: hidden;
}
.menus .menu-item__description h4,
.menus .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 10px 10px 0;
  background-color: #99e2d0;
  margin-right: -40px;
  width: 40px;
  transition: margin-right 0.5s;
}
.menus .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  color: #99e2d0;
}

.order button {
  margin-bottom: 15px;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 6px -3px #7e7e7e;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 5px 6px -3px #7e7e7e;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
.order button:hover {
  transform: scale(1.02);
}

@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes apparition {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
header {
  box-shadow: 0px 5px 6px lightgrey;
  padding: 3px;
}

.ville {
  background-color: #ececec;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ville i {
  font-size: 15px;
}

h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
}

.instructions ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.instructions li {
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 2px 20px;
  box-shadow: 0px 5px 6px lightgrey;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  font-size: 18px;
}

.ville {
  background-color: #ececec;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ville i {
  font-size: 15px;
}

.selection {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 10px;
  padding-top: 10px;
}

.selection h2 {
  font-size: 20px;
  margin-top: 0px;
}

.selection button {
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 5px 6px -3px #7e7e7e;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}

/*# sourceMappingURL=style.css.map */
